<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://invoicegeni-dwcjhgd7ena5fgcm.uksouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bbbb444e-6c9f-4489-9cbe-c15bc978e88a/resourceGroups/InvoiceDataExtraction/providers/Microsoft.Web/sites/Invoicegeni</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://invoicegeni-dwcjhgd7ena5fgcm.scm.uksouth-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>